<?xml version="1.0"?>
<model>
  <name>teknofest_qr_target</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>
  <author>
    <name>TEKNOFEST SIHA Team</name>
  </author>
  <description>2m x 2m QR code target with 45-degree angled plates (3m high) per TEKNOFEST Savasan IHA sartname</description>
</model>
