<?xml version="1.0"?>
<model>
  <name>teknofest_hss_zone</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>
  <author>
    <name>TEKNOFEST SIHA Team</name>
  </author>
  <description>Red semi-transparent cylinder marking forbidden HSS (no-fly) zone per TEKNOFEST Savasan IHA sartname</description>
</model>
