<?xml version="1.0"?>
<model>
  <name>rc_cessna_mono_cam</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>
  <author>
    <name>TEKNOFEST SIHA Team</name>
  </author>
  <description>
    RC Cessna with nose-mounted monocular camera for TEKNOFEST Savasan IHA simulation.
    Camera is fixed, parallel to horizontal axis (competition requirement).
  </description>
</model>
